[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dhglm"]
	path = dhglm
	url = https://github.com/cran/dhglm
[submodule "frailtyHL"]
	path = frailtyHL
	url = https://github.com/cran/frailtyHL
[submodule "mdhglm"]
	path = mdhglm
	url = https://github.com/cran/mdhglm
